html, body {
  margin: 0;
  padding: 0;
}

#page-container {
  width: 960px;
  margin: auto;
  color: #fff;
}

.navbar {
  margin-bottom: 0;
}

#header {
  height: 150px;

}
.jumbotron {
  background-color: #946b2d;
  text-align: center;
}

#content {
  background-color: #5d5d5d;
}

#footer {
  background-color: #222f5b;
  height : 66px;
  clear: both;
}

h1 {
  margin: 0;
  padding: 0;
}
